openapi: 3.1.0
info:
  title: GPT-OS GitHub Controller API (v20 - Final Aligned)
  version: 20.0.0
  description: |
    FINAL ALIGNED VERSION.

    RULES:
    - MAX 30 ACTIONS
    - INTERPRETER ENFORCED
    - SOT AWARE
    - GOVERNOR AWARE

servers:
  - url: https://api.github.com

paths:

  /repos/{owner}/{repo}/contents/{path}:
    put:
      operationId: createOrUpdateFile
      summary: Create or update file (INTERPRETER REQUIRED)
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: path
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message, content]
              properties:
                message:
                  type: string
                content:
                  type: string
                  description: |
                    MUST be base64.
                    MUST be generated by interpreter.
                    GPT MUST NOT encode.
                sha:
                  type: string
                  description: REQUIRED for update
      responses:
        "200":
          description: Updated
        "201":
          description: Created
        "409":
          description: Conflict → MUST fetch fresh SHA and retry

  /repos/{owner}/{repo}/dispatches:
    post:
      operationId: repositoryDispatch
      summary: Trigger async execution
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_type]
              properties:
                event_type:
                  type: string
                  enum:
                    - write_file
                    - run_analysis
                    - process_queue
                    - debug_system
                client_payload:
                  type: object
                  required: [target, content_raw]
                  properties:
                    target:
                      type: string
                    content_raw:
                      type: string
      responses:
        "204":
          description: Accepted

  /repos/{owner}/{repo}/actions/runs:
    get:
      operationId: listWorkflowRuns
      summary: List runs
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK

  /repos/{owner}/{repo}/actions/runs/{run_id}/jobs:
    get:
      operationId: listJobsForWorkflowRun
      summary: List jobs
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: run_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: OK